node_modules
node_modules/*

# ignore vim session files
*.vim

# environments
.env
.venv
django/
env/
venv/
ENV/
env.bak/
venv.bak/

# django
package-lock.json
package.json
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
